/* Header container */
.header {
    display: flex;
    gap: 30px;
    justify-content: space-between; /* Space between logo and menu */
    align-items: center;
    background-color: #81474E; /* Maroon color */
    padding: 15px 5%;
    height: 70px;
    top: 0;
    left: 0;
    width: 90%;
    z-index: 100;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo styling */
  .logo img {
    width: auto;
    height: 50px;
  }
  
  /* Navigation Menu */
  .nav ul {
    display: flex;
    gap: 15vw;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    font-size: 16px;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    transition: color 0.3s ease-in-out;
  }
  
  .nav a:hover {
    color: #ffffff; /* Yellow on hover */
  }
  
  /* 📱 Mobile Responsive */
  @media (max-width: 768px) {
    .header {
      flex-direction: row;
      height: auto;
      padding: 15px 5%;
    }
  
    .nav ul {
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }
    .logo img {
      width: 80px;
      height: 40px;
    }
    .nav li {
      font-size: 2vw;
    }
    .nav ul {
      display: flex;
      gap: 8vw;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  
  @media (max-width: 1279px) and (min-width: 768px) {
    .header {
      flex-direction: row;
      height: auto;
      padding: 15px 5%;
    }
  
    .nav ul {
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }
    .logo img {
      width: 15vw;
      height: 6vh;
    }
    .nav li {
      font-size: 2vw;
      
    }
    .nav ul {
      display: flex;
      gap: 8vw;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }